# 📝 文本文件统一使用 LF 换行符
* text eol=lf

# 🖼️ 图片文件按二进制格式处理
*.png -text
*.jpg -text
*.ico -text
*.gif -text
*.webp -text

# *.md text eol=lf linguist-detectable -linguist-documentation

# 🧩 将默认被排除的 Protocol Buffer 文件纳入 Linguist 语言统计
docs/protobuf/*.proto text eol=lf linguist-detectable -linguist-documentation

# 📚 将所有 Markdown 与 README 纳入 GitHub Linguist 语言统计
README.md linguist-language=Markdown linguist-detectable=true linguist-documentation=false
readme.md linguist-language=Markdown linguist-detectable=true linguist-documentation=false
*.md linguist-language=Markdown linguist-detectable=true linguist-documentation=false
docs/**/*.md linguist-language=Markdown linguist-detectable=true linguist-documentation=false
